{% extends "base.html" %}

{% block content %}

<br><br>

<div class="col-lg-8 mx-auto">
    <header class="d-flex align-items-center pb-3 mb-3"><h2>Your Cart:</h2></header>

    <ul class="list-group list-group-horizontal nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Keep Shopping</a>
        </li>
      </ul>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in carts%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
