{% extends "base.html" %}

{% block content %}

<br><br>

<div class="col-lg-8 mx-auto">
    <header class="d-flex align-items-center pb-3 mb-3"><h2>Your Cart:</h2></header>

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/account">View Account</a>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Keep Shopping</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Order Total</h4>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-auto">
                      <p class="card-text"><h1>${{'%0.2f'| format(total|float)}}</h1></p>
                  </div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
 
<table class="table table-hover table-bordered container">
  <thead class="thread-muted text-muted">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in cart%}
      <tr>
        <th scope="row">{{cart.id}}</th>
        <td>{{cart.name}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<header class="d-flex align-items-center pb-3 mb-3 mt-5"><h2>Saved for Later:</h2></header>
<table class="table table-hover table-bordered container-fluid">
  <thead class="thread-muted text-muted">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
    </tr>
  </thead>
  <tbody>
    {% for product in cartProduct%}
      <tr>
        <td scope="row"><a href="/product/{{product.id}}" class="link-unstyled" style="text-decoration: underline;">{{product.id}}</a>{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}



