{% extends "base.html" %}

{% block content %}

<br><br>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
        {{ message }}
    </div>
    {% endfor %}

<div class="col-lg-8 mx-auto">
    <header class="d-flex align-items-center pb-3 mb-3"><h2>Your Cart:</h2></header>

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/account">View Account</a>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Keep Shopping</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#addModal">Place Order</button>
    </div>
  
    
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="addModalLabel">Are you sure you want to place this order?</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
          <form action="" method="post">
            {{order_form.csrf_token}}
              <div class="d-grid gap-2">
                  {{order_form.info_submit(class_='btn btn-success btn-large')}}
              </div>
          </form>
      </div>
  </div>
  </div>
</div>


      <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Order Total</h4>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-auto">
                      <p class="card-text"><h1>${{'%0.2f'| format(total|float)}}</h1></p>
                  </div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
 
<table class="table table-hover table-bordered container">
  <thead class="thread-muted text-muted">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Save</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in cart%}
      <tr>
        <td scope="row"><a href="/product_details/{{cart.id}}" class="link-unstyled" style="text-decoration: underline;">{{cart.id}}</a></th>
        <td>{{cart.name}}</td>
        <td><button type="button" class="btn mr-2" data-bs-toggle="modal" data-bs-target="#quantModal"><u>{{cart.quantity}}</u></button></td>
        <td>{{cart.totalPrice}}</td>
        <td>
          <form action="" method="POST">
          {{save.csrf_token}}
          {{save.productx(value=cart.id)}}
          {{save.submitx(class_='btn')}}
          </form>
        </td>
        <td>
          <form action="" method="POST">
          {{remove.csrf_token}}
          {{remove.delete(value=cart.id)}}
          {{remove.submit(class_='btn btn-danger btn-xs')}}
          </form>
        </td>
      </tr>
      <div class="modal fade" id="quantModal" tabindex="-1" aria-labelledby="quantModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="quantModalLabel">Edit Product Quantity</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
              <form action="" method="POST">
              {{editquant.csrf_token}}
              <div class="d-flex justify-content-left mb-3">
                <p><h1>{{editquant.quantity1(placeholder='Quantity')}}</h1></p>
            </div>
              {{editquant.product1(value=cart.id)}}
              <div class="d-grid gap-2">
                {{editquant.submit3(class_='btn btn-success btn-large')}}
              </div>
              </form>
            </div>
    {% endfor %}
  </tbody>
</table>

<header class="d-flex align-items-center pb-3 mb-3 mt-5"><h2>Saved for Later:</h2></header>
<table class="table table-hover table-bordered container-fluid">
  <thead class="thread-muted text-muted">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Add to Cart</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    {% for product in saved%}
      <tr>
        <td scope="row"><a href="/product_details/{{product.id}}" class="link-unstyled" style="text-decoration: underline;">{{product.id}}</a></th>
        <td>{{product.name}}</td>
        <td><button type="button" class="btn btn-primary mr-2" data-bs-toggle="modal" data-bs-target="#cModal">Add to Cart</button></td>
        <td><form action="" method="POST">
          {{rfs.csrf_token}}
          {{rfs.delete1(value=product.id)}}
          {{rfs.submit2(class_='btn btn-danger btn-xs')}}
        </form></td>
      </tr>
      <div class="modal fade" id="cModal" tabindex="-1" aria-labelledby="cModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="cModalLabel">Add to Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
              <form action="" method="POST">
              {{move.csrf_token}}
              <div class="d-flex justify-content-left mb-3">
                <p><h1>{{move.quantity(placeholder='Quantity')}}</h1></p>
            </div>
              {{move.product(value=product.id)}}
              <div class="d-grid gap-2">
                {{move.submit1(class_='btn btn-success btn-large')}}
              </div>
              </form>
            </div>
    {% endfor %}
  </tbody>
</table>

{% endblock %}




