{% extends "base.html" %}

{% block content %}

<br><br>

<h1 style="text-align: center;">Browse our most popular items!:</h1>

<br><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="max-width: 60%; max-height: 40%; display: inline-flex; margin-left: 20%; margin-right: 20%;"">
  <button type="button" class="btn btn-primary mr-2" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <div class="carousel-inner" style="text-align: center;">
    <div class="carousel-item active">
      <a href="{{ url_for('product.product', id=pop[0].id) }}">
        <img src={{pop[0].url}} class="d-block w-100" alt="...">
      </a>
      <div class="d-none d-md-block">
        <h5>{{pop[0].name}}</h5>
        <p>{{pop[0].description}}</p>
      </div>
    </div>
    {% for p in pop[1:] %}
    <div class="carousel-item">
      <a href="{{ url_for('product.product', id=p.id) }}">
        <img src={{p.url}} class="d-block w-100" alt="...">
      </a>
      <div class="d-none d-md-block">
        <h5>{{p.name}}</h5>
        <p>{{p.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary mr-2" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br>
<br>
<br>
<br>
<br>
{% endblock %}
