{% extends "base.html" %}

{% block content %}

<br><br>
<div class="row">
  <div class="col-sm-6">
    <ul class="list-group list-group-horizontal nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/inventory/order-fulfillment">View Order Fullfillment</a>
      </li>
    </ul>
    <br>
    <ul class="list-group list-group-horizontal nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/inventory/seller-analytics">View Your Seller Analytics</a>
      </li>
  </div>
</div>

<br>

<h2>Products You Have Listed:</h2>
<body> Click on product details to edit name, description, image, or price </body>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Description</th>
      <th scope="col">Product Image</th>
    </tr>
  </thead>
  <tbody>
    {% for inventory in listed%}
      <tr>
        <th scope="row">{{inventory.id}}</th>
        <td><a href="{{ url_for('product.product', id=inventory.id) }}">{{inventory.name}}</a></td>
        <td>{{inventory.description}}</td>
        <td style="max-width: 100px;"><img src={{inventory.url}} class="img-fluid rounded-start" alt="..."></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% if listed|length == 0 %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 800px; display: flexbox; margin-left: 10%; margin-right: 10%;">
      <div class="card-body">
        <p class="card-text"> You haven't created any products</p>
      </div>
    </div>
  {% endif %}

<h2>All Products You Sell:</h2>
<div style="display: flexbox; margin-left: 10%; margin-right: 10%;">
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity Available</th>
      <th scope="col">Quit Selling</th>
    </tr>
  </thead>
  <tbody>
    {% for inventory in inventory%}
      <tr>
        <th scope="row">{{inventory.id}}</th>
        <td><a href="{{ url_for('product.product', id=inventory.id) }}">{{inventory.name}}</a></td>
        <td>{{inventory.quantity}}</td>
        <td>
          <form action="" method="POST">
          {{remove.csrf_token}}
          {{remove.delete(value=inventory.id)}}
          {{remove.submit4(class_='btn btn-danger btn-xs')}}
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% if inventory|length == 0 %}
    <div class="card text-white bg-secondary mb-3" style="max-width: 800px;">
      <div class="card-body">
        <p class="card-text"> You're not currently selling any products</p>
      </div>
    </div>
  {% endif %}
</div>


<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit Inventory</h4>
      <container>
          <div class="row g-4 pt-3">
                  <div class="col-5"><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#editModal">Edit a Product</button></div>
                  <div class="col-5"><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#edit_quantityModal">Edit Quantity</button></div>
                  <div class="col-5"><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addModal">Add a Product</button></div>
                </div>
      </container>
    </div>
  </div>
</div>
</div>


        <!-- Edit product modal -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Update Product Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div class="modal-body">
                  <form action="" method="post">
                      {{ edit_form.csrf_token }}
                      <div class="d-flex justify-content-left mb-3">
                          <p>Product ID: {{edit_form.prod_id}}</p>
                          <p>Product name: {{edit_form.name}}</p>
                          <p>Description: {{edit_form.description}}</p>
                          <p>Price: {{edit_form.price}}</p>
                          <p>Quantity: {{edit_form.quantity}}</p>
                          <p>URL: {{edit_form.url}}</p>
                      </div>
  
                      <div class="d-grid gap-2">
                          {{edit_form.submit2(class_='btn btn-success btn-large')}}
                      </div>
                  </form>
              </div>
          </div>
          </div>
      </div>

        <!-- Edit quantity modal -->
        <div class="modal fade" id="edit_quantityModal" tabindex="-1" aria-labelledby="edit_quantityModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="edit_quantityModalLabel">Edit Product Quantity</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              
              <div class="modal-body">
                  <form action="" method="post">
                      {{ quantity_form.csrf_token }}
                      <div class="d-flex justify-content-left mb-3">
                          <p>Product ID: {{quantity_form.prod_id}}</p>
                          <p>Quantity: {{quantity_form.quantity}}</p>
                      </div>
  
                      <div class="d-grid gap-2">
                          {{quantity_form.submit3(class_='btn btn-success btn-large')}}
                      </div>
                  </form>
              </div>
          </div>
          </div>
      </div>


              <!-- Add product modal -->
              <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add a new product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    
                    <div class="modal-body">
                        <form action="" method="post">
                            {{ new_form.csrf_token }}
                            <div class="d-flex justify-content-left mb-3">
                                <p>Product name: {{new_form.name}}</p>
                                <p>Description: {{new_form.description}}</p>
                                <p>Price: {{new_form.price}}</p>
                                <p>Quantity: {{new_form.quantity}}</p>
                                <p>URL: {{new_form.url}}</p>
                            </div>
        
                            <div class="d-grid gap-2">
                                {{new_form.submit1(class_='btn btn-success btn-large')}}
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>






{% endblock %}