{% extends "base.html" %}

{% block content %}

<br><br>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissable" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
        {{ message }}
    </div>
    {% endfor %}

<div class="col-lg-8 mx-auto">
        <h2>Your Order:</h2>
        <h5>{{orderID}}</h5>


    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/account">View Account</a>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Keep Shopping</a>
          </li>
        </ul>
        <ul class="list-group list-group-horizontal nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/cart">Back to Cart</a>
            </li>
          </ul>
    </div>

      <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Order Total</h4>
            <div class="container-fluid">
              <div class="row">
                  <div class="col-md-auto">
                      <p class="card-text"><h1>${{'%0.2f'| format(total|float)}}</h1></p>
                  </div>
              </div>
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
 
<table class="table table-hover table-bordered container">
  <thead class="thread-muted text-muted">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Status</th>
      <th scope="col">Write Product Review</th>
      <th scope="col">Write Seller Review</th>
    </tr>
  </thead>
  <tbody>
    {% for product in orderplaced%}
      <tr>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.totalPrice}}</td>
        <td>{{product.status}}</td>
        {% if not prodReviewed(current_user.id, product.id) %}
          <td><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addModal">Add Product Review</button></td>
        {% endif %}
        <!--Disables button when one has already written a review-->
        {% if  prodReviewed(current_user.id, product.id) %}
        <td><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addModal" disabled>Add Product Review</button></td>
        {% endif %}
        <td><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addSellerModal">Add Seller Review</button></td>


        
      </tr>
    <!--MODAL FOR A PRODUCT REVIEW-->
      <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add a new review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form action="" method="POST">
                        {{ addReview.csrf_token }}
                        <div class="d-flex justify-content-left mb-3">
                            <p>Title: {{addReview.title}}</p>
                            <p>Rating: {{addReview.rating}}</p>
                            <p>Description: {{addReview.description}}</p>
                        </div>
                        {{addReview.productRev(value=product.id)}}

                        <div class="d-grid gap-2">
                            {{addReview.submitRev(class_='btn btn-success btn-large')}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--MODAL FOR A SELLER REVIEW-->
  <div class="modal fade" id="addSellerModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel">Add a new review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
                <form action="" method="POST">
                    {{ addSellReview.csrf_token }}
                    <div class="d-flex justify-content-left mb-3">
                        <p>Title: {{addReview.title}}</p>
                        <p>Rating: {{addReview.rating}}</p>
                        <p>Description: {{addReview.description}}</p>
                    </div>
                    {{addReview.productRev(value=product.id)}}

                    <div class="d-grid gap-2">
                        {{addReview.submitRev(class_='btn btn-success btn-large')}}
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
    {% endfor %}
  </tbody>
</table>


{% endblock %}




