{% extends "base.html" %}

{% block content %}

<br><br>

<div class="row">
    <div class="col-sm-6">
      <ul class="list-group list-group-horizontal nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inventory">View Inventory</a>
        </li>
      </ul>
      <br>
      <ul class="list-group list-group-horizontal nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inventory/seller-analytics">View Your Seller Analytics</a>
        </li>
    </div>
  </div>

<br><br>

<h2>Your Order History:</h2>
<table class='table table-hover table-bordered container'>

  <tbody>
    {% for order in order_history%}

      <div class="card mb-4">
        <div class="card-header">
            <div class="container">
                <div class="row">
                    <div class="col float-left"><small class="text-muted">ORDER PLACED</small></div>
                    <div class="col-8"><small class="text-muted float-end">Order #:{{order.id}}</small></div>
                </div>
                <div class="row">
                    <div class="col float-left"><small class="text-muted">{{order.placed_at.strftime("%B %d, %Y")}}</small></div>
                </div>
            </div>
        </div>
        <div class="card-body">
        <h5 class="card-title pb-2">Order Products <span class="badge bg-secondary">{{order.status}}</span></h5>
        
        <div class="container">
            <div class="row pb-2">
                <div class="col-md-2 float-left">
                    <img src={{order.url}} class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10">
                    <div class="container">
                        <div class="row"><div class="col float-left">{{order.name}} <span class="badge bg-success">Delivered</span></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    {% endfor %}
  </tbody>
</table>

{% if page and page > 1 %}
<button type="button"><a href={{pp}}>❮Previous Page</a></button>
{% endif %}
{% if pages %}
<button type="button"> <a href={{np}}> Next Page❯</a></button>
{% endif %}



{% endblock %}