{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Product you clicked on:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
      <th scope="col">Desc</th>
      <th scope="col">Seller</th>
      <th scope="col">Inventory</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.rate}}</td>
        <td>{{product.description}}</td>
        <td>{{product.seller}}</td>
        <td>{{num}}</td>
      </tr>
  </tbody>
</table>
<img src={{imgurl}} class="img-fluid rounded-start" alt="...">

{% endblock %}
