{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Product you clicked on:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Rating</th>
      <th scope="col">Desc</th>
      <th scope="col">Seller</th>
      <th scope="col">Inventory</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.rating}}</td>
        <td>{{product.description}}</td>
        <td>{{product.seller}}</td>
        <td>{{num}}</td>
      </tr>
  </tbody>
</table>
<img src={{imgurl}} class="img-fluid rounded-start" alt="...">

<h2>Reviews:</h2> 

<table class='table table-hover table-bordered container'></table>
<thead class="thead-dark">
  <tr>
    <th scope="col">Review ID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">Rating</th>
    <th scope="col">Description</th>
    <th scope="col">Time</th>
    <th scope="col">Edited</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">{{reviewsmod.id}}</th>
    <td>{{reviews.title}}</td>
    <td>{{review.author}}</td>
    <td>{{review.rating}}</td>
    <td>{{review.description}}</td>
    <td>{{review.time}}</td>
    <td>{{review.edited}}</td>
  </tr>
</tbody>
</table>

{% endblock %}
