{% extends "base.html" %}

{% block content %}

<br><br>

<div class="col-lg-8 mx-auto" id="publicContainer">
    <header class="d-flex align-items-center pb-3 mb-3"><h2>{{user.firstname}} {{user.lastname}} {% if account.vendor %} <span class="badge bg-secondary">Vendor</span>{% endif %} </h2></header>
    
    <!-- Account Info -->
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Personal Information</h4>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="text-muted">Name: </span>{{user.firstname}} {{user.lastname}}</li>
              <li class="list-group-item"><span class="text-muted">Account #: </span>{{user.id}}</li>
              {% if account.vendor %}
              <li class="list-group-item"><span class="text-muted">Email: </span>{{user.email}}</li>
              <li class="list-group-item"><span class="text-muted">Address: </span>{{user.address}}</li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>

</div>

<!-- Put review stuff below this-->

<script src="{{ url_for('static', filename='js/publicAccount.js') }}"></script>

{% if account.vendor %}
<h2>Rating: {{avg[0]}} </h2>
<h2>Number of Reviews: {{count[0]}}</h2>




<h2>Reviews of Vendor Products:</h2> 

<table class='table table-hover table-bordered container'>
  <thead><tr>
    <th>Review ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Rating</th>
    <th>Description</th>
    <th>Time</th>
    <th>Edited</th>
  </tr></thead>
  <tbody>
    {% for r in review%}
    <tr>
      <td scope="row">{{r.id}}</td>
      <td>{{r.title}}</td>
      <td>{{r.author}}</td>
      <td>{{r.rating}}</td>
      <td>{{r.description}}</td>
      <td>{{r.written_at}}</td>
      <td>{{r.edited_at}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endif %}

{% if current_user.id == user.id %}
  <h2>Products you have reviewed:</h2> 

  <table class='table table-hover table-bordered container'>
    <thead><tr>
      <th>Review ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Time</th>
      <th>Edited</th>
      <th>Edit Your Review</th>
      <th>Delete Your Review</th>
    </tr></thead>
    <tbody>
      {% for r in prodReviews%}
      <tr>
        <td scope="row">{{r.id}}</td>
        <td>{{r.title}}</td>
        <td>{{r.author}}</td>
        <td>{{r.rating}}</td>
        <td>{{r.description}}</td>
        <td>{{r.written_at}}</td>
        <td>{{r.edited_at}}</td>
        <td><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addModal">Edit Review</button> </td>
        <td><form action="" method="POST">
          {{rfs.csrf_token}}
          {{rfs.delete1(value=r.id)}}
          {{rfs.submitDeleteProdReview(class_='btn btn-danger btn-xs')}}
        </form></td>
      </tr>
      <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-body">
                    <form action="" method="POST">
                        {{ addRev.csrf_token }}
                        <div class="d-flex justify-content-left mb-3">
                            <p>Title: {{addRev.title}}</p>
                            <p>Rating: {{addRev.rating}}</p>
                            <p>Description: {{addRev.description}}</p>
                        </div>
                        {{addRev.productRev(value=r.product)}}
                        {{addRev.RevID(value=r.id)}}

                        <div class="d-grid gap-2">
                            {{addRev.submitRev(class_='btn btn-success btn-large')}}
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
    {% endfor %}
  </tbody>
  </table>

    <h2>Sellers you have reviewed:</h2> 

    <table class='table table-hover table-bordered container'>
      <thead><tr>
        <th>Review ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Time</th>
        <th>Edited</th>
        <th>Edit Your Review</th>
        <th>Delete Your Review</th>
      </tr></thead>
      <tbody>
        {% for r in sellReviews%}
        <tr>
          <td scope="row">{{r.id}}</td>
          <td>{{r.title}}</td>
          <td>{{r.author}}</td>
          <td>{{r.rating}}</td>
          <td>{{r.description}}</td>
          <td>{{r.written_at}}</td>
          <td>{{r.edited_at}}</td>
          <td><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addSellModal">Edit Review</button> </td>
          <td><form action="" method="POST">
            {{rss.csrf_token}}
            {{rss.delete2(value=r.id)}}
            {{rss.submitDeleteSellReview(class_='btn btn-danger btn-xs')}}
          </form></td>
        </tr>
        <div class="modal fade" id="addSellModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="addModalLabel">Edit review</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  
                  <div class="modal-body">
                      <form action="" method="POST">
                          {{ sellRevEd.csrf_token }}
                          <div class="d-flex justify-content-left mb-3">
                              <p>Title: {{sellRevEd.titleS}}</p>
                              <p>Rating: {{sellRevEd.ratingS}}</p>
                              <p>Description: {{sellRevEd.descriptionS}}</p>
                          </div>
                          {{sellRevEd.sellerRev(value=r.seller)}}
                          {{sellRevEd.RevIDSell(value=r.id)}}

                          <div class="d-grid gap-2">
                              {{addRev.submitRev(class_='btn btn-success btn-large')}}
                          </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>

      {% endfor %}
    </tbody>
    </table>

  {% endif %}

{% endblock %}

