{% extends "base.html" %}

{% block content %}

<h2>Submit a Review:</h2>

<container>
    <div class="row g-4 pt-3">
            <div class="col-5"><button type="button" class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#addModal">Add Review</button></div>
</container>


              <!-- Add review modal -->
              <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add a new review</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body">
                            <form action="" method="post">
                                {{ new_form.csrf_token }}
                                <div class="d-flex justify-content-left mb-3">
                                    <p>Rating: {{new_form.name}}</p>
                                    <p>Description: {{new_form.description}}</p>
                                </div>
            
                                <div class="d-grid gap-2">
                                    {{new_form.submit1(class_='btn btn-success btn-large')}}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}